
.body{
    }
    .img{

    }
    .card{
        border: 1dp;
        border-radius: 1dp;
       margin-right: 65%;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 2%;
        border-radius: 5%;
    }
