
<div>
  <button (click)="getPosts()">GET Posts</button>
  <button (click)="uploadPosts()">Upload Posts</button>
   <button (click)="getStudents()">Get Students</button>
  <!-- <div>
    <p *ngFor="let item of posts">{{item.title}}</p>
  </div> -->
  <div>
    <div *ngFor="let item of students">

    <div>{{item.email}}</div>
    <div>{{item.name}}</div>
    <div>{{item.password}}</div>
    </div>
  </div>

  <div class="container">
<form (click)='addStudents()'>
  <div class="form-group">

  </div>
</form>
<div>
  <h1>Upload Image</h1>
<form>
  <h3>Project Image</h3>
<input   [(ngModel)] ='image' type="file" name="image" class="form-control">
<input type="submit" value="upload" (click)="uploadImage()">
</form>
</div>
</div>

</div>
